*{
    font-family: "맑은고딕";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#searchIdPwSearch{
    width: 1200px;
    height: 800px;
    margin: auto;
    
}
#sipTitle{
    width: 700px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    
}

#siBoxes{
    width: 450px;
    height:280px;
    margin-left: 120px;
    margin-top: 70px;
    border: 1px solid rgb(209, 209, 209);
    background-color: #FAFAFA;
    float: left;
}
#siTextbox{
    width: 450px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    
}
#siTextTitle{
    width: 100px;
    height: 20px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 0.5px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-weight: bold;
    float: left;
    
}
#siText{
    width: 250px;
    height: 15px;
    font-size: 11px;
    margin-top: 6px;
    float: left;
    
}
#siInputTextBoxes{
    width: 430px;
    height: 130px;
    
}
.siInputText{
    width: 400px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
}
.siInputTextBox{
    width: 380px;
    height: 30px;
    font-size: 14px;
    margin-top: 9px;
    margin-left: 9px;
    font-weight: bold;
    border: none;

}
#siOkbtn{
    width: 101px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pwBoxes{
    width: 450px;
    height:280px;
    margin-left: 50px;
  
    margin-top: 70px;
    border: 1px solid rgb(209, 209, 209);
    background-color: #FAFAFA;
    float: left;
}
#spwTextbox{
    width: 450px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    
}
#spwTextTitle{
    width: 120px;
    height: 20px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 0.5px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-weight: bold;
    float: left;
}
#spwText{
    width: 250px;
    height: 15px;
    font-size: 11px;
    margin-top: 6px;
    float: left;
}
.spwInputText{
    width: 400px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
}
.spwInputTextBox{
    width: 380px;
    height: 30px;
    font-size: 14px;
    margin-top: 9px;
    margin-left: 9px;
    font-weight: bold;
    border: none;
}
#spwOkbtn{
    width: 99px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}